@charset "UTF-8";



@font-face {
    font-family: 'personalizada';
    src: url('./fonte/DESIGNER.otf') format('opentype');
    font-weight: normal;
} /*Arquivo Interno*/

@font-face {
  font-family: 'Regular';
  src: url('./fonte/Poppins-Regular.ttf') format('opentype');
  font-weight: normal;
} /*Arquivo Interno*/


/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*PARA FICAR NA MESMA BORDA DA CAIXA*/
}

h2.titulo {
  font-family: var(--fonte-padrao);
  color: white;
  font-size: 38px;
  text-align: center;
}

h2.titulo span{
  font-family: var(--fonte-padrao);
  color: #0583F2;
}
:root {
  /*CONFIGURAÇÕES GLOBAIS*/
  --cor0: #000000;
  --cor01: #035AA6;
  --cor02: #0583F2;
  --cor03: #6DDAF2;

  --fonte-padrao: 'Regular';
  --fonte-destaque: 'personalizada';
}


body {
    background-color: var(--cor0);
    height: 100vh;
}

.GB-contato button {
    background-color: var(--cor02);
    padding: 10px 30px;
    font-size: 18;
    font-weight: 600;
    border: 0;
    border-radius: 15px;
    cursor: pointer; /*PARA O CURSOR VIRAR UM DEDINHO*/
    transition: .2s; 
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/*ESTILO DO CABEÇALHO */
header {
    min-width: 300px;
    max-width: 1200px;
    padding: 40px 4%;
    

}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100%;
    height: 250px;
}

header a {
    color: rgb(98, 96, 96);
    font-family:var(--fonte-padrao);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.GB-contato button:hover{
    color: white;
    transform: scale(1.05)
}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .GB-contato button {
    background-color: var(--cor02);
    padding: 10px 30px;
    font-size: 18;
    font-weight: 600;
    border: 0;
    border-radius: 15px;
    cursor: pointer; /*PARA O CURSOR VIRAR UM DEDINHO*/  
}

 .GB-contato button:hover {
    box-shadow: 0px 0px 8px var(--cor02);
  }

  .menu-desktop a:hover { 
    color: white;
    transform: scale(1.05);
    transition: .2s;
  }

  /*ESTILO DO TOPO DO SITE*/
  section.topo-do-site {
    padding: 40px 4%;
  }

  section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
  }

  .topo-do-site h1 {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 42px;
    line-height: 40px;
  }

  .topo-do-site .texto-topo-site h1 span {
    color: var(--cor02);
    font-size: 84px;
  }

  .topo-do-site .texto-topo-site p {
    font-family: var(--fonte-padrao);
    font-size: 20px;
    color: white;
    margin: 40px 0px;
  }

  .topo-do-site .img-topo-site img {
    position: relative; /* Define que o elemento é posicionado relativamente a si mesmo */
    animation: flutuar 2s ease-in-out infinite alternate; /* Aplica a animação */
    height: 500px;
  }
 
  @keyframes flutuar {
    0% {
      top: 0; /* Posição inicial */
    }
    100% {
      top: 30px; /* Move para 30px para baixo */
    }
  }

  section.especialidades {
    padding: 40px 4%;

  }

  section.especialidades .flex {
    gap: 60px;
  }

  .especialidades .especialidades-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: 45px;
    transition: .5s;
  }

  .especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 14px rgba(255, 255, 255, 0.441);

  }

  .especialidades-box i {
    font-size: 70px;
    color: #0583F2;

  }

  .especialidades .especialidades-box h3 {
    font-family: var(--fonte-padrao);
    font-size: 28px;
    margin: 15px 0px;
  }

  .especialidades .especialidades-box p {
    color: white;
    font-family: var(--fonte-padrao);
  }
  






  
  